*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

/* I like to always set up my css with lines 1 - 5 to make sure it's a clean slate and properly linked to html  */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 2, 201);
    height:100vh;
}

#calculator{
   background-color: rgb(0, 0, 0);
   width: 50%; 
}

#showMe{
    width:100%;
    padding: 5px;
    font-size: 120px;
    text-align: left;
    background-color: pink;
    color:black;
    font-weight: bold;
}

/* still don't feel super comfortable with grid but it made sense to use it here when I saw how it could move all buttons  */

#keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr); 
    gap:20px;
    padding: 20px;
}


button{
    border-radius: 200px;
    background-color: plum;
    color:white;
    font-size: 80px;
    cursor: pointer;
}

button:hover{
    background-color: purple;
}

.operator{
    background-color: rgb(87, 224, 245);
}